<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Gabinete Gamer Lian Li Dynamic Mini-X O11</title>
</head>
<body>
    <div class="prod"></div>
        <div class="prod-img">
            <img src="{{url_for('static', filename='assets/gabinete1.jpeg')}}" alt="Imagem do Produto" class="img-fluid">
        </div>
        <div class="prod-text">
            <h2>Gabinete Gamer Lian Li Dynamic Mini-X O11, PC Tower, ATX, Lateral em Vidro Temperado, Preto - O11DMINI-X</h2>
            <p class="text-danger h4">R$ 1.398,99 <small class="text-muted"><del>R$ 1.798,99</del></small></p>
            <p class="text-success">Desconto de 22%</p>
            <button class="btn btn-primary btn-lg">COMPRAR</button>
            <div class="mt-3">
                <p>Promoção válida por:</p>
                <div id="contador" class="h5 text-danger">00:00:00</div>
            </div>
        </div>
    </div>
</body>
</html>