<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gabinete Gamer Lian Li Dynamic Mini-X O11</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('home.home' )}}">GMG TECH</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('client.acount')}}">Minha conta</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" 
                aria-current="page" href="#">Ofertas do dia</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Produtos
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Todos produtos</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{{ url_for('product.arm' )}}">Armazenamentos</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('product.alim' )}}">Fontes de alimentação</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('product.gab_card')}}">Gabinetes</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('product.memory_ram')}}">Memórias RAM</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('product.motherboard')}}">Placas mãe</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('product.proc_amd')}}">Processadores</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('product.graphicboard')}}">Placas de vídeo</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('product.water_cooler')}}">Refrigerações</a></li>
                </ul>
            </ul>
            <button class="btn btn-outline-success" type="submit"><a href="{{url_for('client.singin')}}"><img src="{{ url_for('static', filename='assets/carrinho.png')}}" alt="Imagem carrinho" width="21px" height="21px"></a></button>
            <form class="d-flex" role="search" style="padding: 5px;">
              <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
              <button class="btn btn-outline-success" type="submit"><img src="{{url_for('static', filename='assets/lupa.png')}}" alt="Imagem pesquisa" width="15px" height="15px"></a></button>
            </form>
          </div>
        </div>
    </nav>
    <form action="">
    <div class="container mt-5">
        <div class="row">
          <h1>Gabinete Gamer Lian Li Dynamic Mini-X O11, PC Tower, ATX, Lateral em Vidro Temperado, Preto - O11DMINI-X</h1>
            <div class="col-md-6">
              <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
                <div class="prod-img">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{{url_for('static', filename='assets/gabinete1.jpeg')}}" class="d-block w-100" alt="Imagem do Produto">
                  </div>
                  <div class="carousel-item">
                    <img src="{{url_for('static', filename='assets/gabinete2.jpeg')}}" class="d-block w-100" alt="Imagem do Produto" width="200" height="450">
                  </div>
                </div>
              </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <div class="col-md-6">
              <h3>O Gabinete Gamer Lian Li Dynamic Mini-X O11 é a escolha perfeita para quem busca um design elegante e funcionalidade avançada. Com painéis de vidro temperado e uma estrutura robusta, este gabinete oferece uma excelente combinação de estética e desempenho.</h3><br>
                <div class="prod-txt">
                  <h2 class="txt-sub"><span id="old-price">De R$680,00</span></h2>
                  <h2 class="txt-new"><span id="price">Por R$520,00</span></h2>
                </div>
                <br>
                <div class="container-produto">
                  <button class="btn btn-primary btn-lg" style="align-self: center;" onclick="{{ url_for('home.home')}}">Comprar</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="prod-spec">
    <p class="d-inline-flex gap-1">
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Especificações técnicas
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <p>Design: Painéis laterais e frontais em vidro temperado de 4mm, proporcionando uma visão clara dos componentes internos e um visual sofisticado.</p>
        <p>Compatibilidade: Suporte para placas-mãe ATX, Micro-ATX e Mini-ITX, oferecendo flexibilidade na escolha dos componentes.</p>
        <p>Espaço Interno: Amplo espaço interno para instalação de placas de vídeo de até 395mm e coolers de CPU de até 170mm de altura.</p>
        <p>Ventilação: Suporte para até 9 fans, garantindo um excelente fluxo de ar e resfriamento eficiente para todos os componentes.</p>
        <p>Watercooling: Compatível com radiadores de até 360mm no topo, lateral e parte inferior, permitindo configurações avançadas de resfriamento líquido.</p>
        <p>Modularidade: Painel traseiro modular que pode ser adaptado às necessidades do usuário, facilitando a organização dos cabos e a instalação dos componentes.</p>
        <p>Conectividade: Painel frontal com 2x USB 3.0, 1x USB 3.1 Tipo-C e conectores de áudio HD, oferecendo fácil acesso a periféricos e dispositivos.</p>
        <p>Filtros de Poeira: Filtros de poeira magnéticos instalados em todas as aberturas para ar, ajudando a manter o interior do gabinete limpo.</p>
      </div>
    </div>
  </div></form>
    <footer>
      <div class="promo-timer">
          <h2>Tempo restante para a promoção:</h2>
          <div id="countdown"></div>
      </div>
  </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/timer_gab.js')}}"></script>
</body>
</html>